<p-table [value]="(queuesSvc.$queues | async)!"  dataKey="id" [scrollable]="true" scrollHeight="flex">

  <ng-template #caption>
    <div class="flex justify-content-center">
      <h4 class="m-0">Queues</h4>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th id="name" pSortableColumn="name">
        <div class="flex align-items-center justify-content-between">
          <div class="flex align-items-center gap-2">
            Name
            <p-sortIcon field="name" />
          </div>
          <p-columnFilter field="name" display="menu" type="text"></p-columnFilter>
        </div>
      </th>
      <th id="waiting" pSortableColumn="waiting">
        <div class="flex align-items-center gap-2">
          Waiting
          <p-sortIcon field="waiting" />
        </div>
      </th>
<!--      <th id="longest">Longest</th>-->
    </tr>
  </ng-template>

  <ng-template #body let-queue let-expanded="expanded">
    <tr style="line-height: 2.1rem">
      <td class="test">
        <span class="text">{{ queue.name }}</span></td>
      <td>
        <div class="flex justify-content-center">
          <span>{{ queue.waiting }}</span>
          @if (queue.longest) {
            <span class="ml-2">({{queue.longest | customTime:(clockSvc.now$ | async)}})</span>
          }
        </div>
      </td>
<!--      <td>{{ queue.longest ? (queue.longest | customTime:(clockSvc.now$ | async)) : '-' }}</td>-->
    </tr>
  </ng-template>

  <ng-template #expandedrow let-queue>
    <tr>
      <td colspan="4">
        <div class="p-4">
          <p-table [value]="queue.interactions" dataKey="id">
            <ng-template #header>
              <tr>
                <th id="ani">ANI</th>
                <th id="dnis">DNIS</th>
                <th id="direction">Direction</th>
                <th id="time">Time</th>
              </tr>
            </ng-template>
            <ng-template #body let-interaction>
              <tr>
                <td>{{ interaction.ani }}</td>
                <td>{{ interaction.dnis }}</td>
                <td>{{ interaction.direction }}</td>
                <td>{{ interaction.timeInQueue }}</td>
              </tr>
            </ng-template>
            <ng-template #emptymessage>
              <tr>
                <td colspan="4">No Waiting interactions in this queue</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>

</p-table>
